<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
    <h1>Connexion</h1>

        {% if error %}
            <div style="color:red; margin-bottom:15px;">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

    <form method="post">
        <div style="margin-bottom: 15px;">
            <label for="username">Email</label><br>
            <input type="email" value="{{ last_username }}" name="_username" id="username"  autofocus>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="password">Mot de passe</label><br>
            <input type="password" name="_password" id="password" >
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Se connecter</button>
    </form>
</body>
</html>